@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #efe3b8; /* Beige */
  color: #5b4f47; /* Dark Brown */
}

a {
  color: inherit;
}
